a, a:active, a:focus, input:focus {
	outline: 0;
}

.error {
	color: #ff0400;
}

.green {
	color: #51db27;
}

#add_credentials_form .input label {
	min-width: 100px;
	display: inline-block;
}

.users th {
	padding: 9px 15px;
	background: #C43D4C;
	font-size: 16px;
	color: #fff;
}

.users tr td, .users tr th {
	//border: 1px solid #bbb;
}

.users td {
	padding: 7px 15px;
	border-right: 1px solid #ddd;
}

.users tr:nth-child(odd) {
	background: #fff;
}

.users tr:nth-child(even) {
	background: #f7f7f7;
}

table.users {
	margin: 30px 0;
	border-collapse: collapse;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
}

table.users form input[type=submit] {
	background: #F9F9F9;
	font-size: 12px;
	border-radius: 3px;
	padding: 5px 12px;
	box-shadow: 0 2px 0 #E6E5E5;
	border: 1px solid #eee;
	cursor: pointer;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	transition: 0.2s;
}

table.users form input[type=submit]:hover {
	background: #dfdfdf;
	box-shadow: 0 2px 0 #c6c6c6;
	border: 1px solid #c6c6c6;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	transition: 0.2s;
}

#add_credentials_form select#source_id {
	min-width: 200px;
}

#add_credentials_form .notes .error {
	position: absolute;
	right: 2%;
	top: 15px;
	padding: 13px 15px;
	background-color: rgb(175, 49, 63);
	border-left: 15px solid #C43D4C;
	color: #fff;
	border-radius: 3px;
	display: inline-block;
	font-size: 12px;
	box-shadow: none;
	margin: 0;

}

#add_credentials_form .error {
	color: #C43D4C;
	display: inline-block;
	font-size: 12px;
	box-shadow: none;
	margin: 0;
}

#add_credentials_form input[type=text] {
	margin: 5px 1px 2px 1px;
	padding: 5px;
	width: 200px;
	display: inline-block;
}

.opinionnaire_page_manage-survey-source-credentials a.user-add-button {
	background: #15A781;
	color: #fff;
	border-radius: 5px;
	border: none;
	padding: 8px 12px;
	margin-top: 15px;
	cursor: pointer;
	text-decoration: none;
	position: relative;
	top: -30px;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	transition: 0.2s;
}

.opinionnaire_page_manage-survey-source-credentials a.user-add-button:hover {
	background: #1AC397;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	transition: 0.2s;
}


#add_credentials_form input#submit {
	background-color: #286B7B;
	color: #fff;
	border-radius: 5px;
	font-size: 13px;
	border: none;
	padding: 8px 12px;
	margin-top: 15px;
	cursor: pointer;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	transition: 0.2s;
}

#add_credentials_form input#submit:hover {
	background-color: #1A98B5;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	transition: 0.2s;
}

